<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potian - Adm Login</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/styleadm.css">

    <link rel="shortcut icon" href="../../public/img/LOGO.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
            <div class="container-fluid">
                <img src="../../public/img/LOGO.ico" alt="IconePotian" width="48px" height="40px" id="IconePotian"
                    class="d-none d-md-flex">
                <a class="navbar-brand" href="HomePage.html" id="title">
                    <span>Potian</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon mx-auto"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                </div>
            </div>
        </nav>
    </header>

    <div class="row col-12 mx-auto">
    <section>
        <div class="text-center">
            <h1>Administrador</h1>
            <h1>Administrador</h1>
        </div>
    </section>
   
    <div class="subtitle">
        <h2>Faça seu Login</h2>
    </div>

    <div class="row col-6 mx-auto text-center box">
    <div class="login-icon mx-auto">
        <a class="col-12 col-md-6" data-bs-toggle="modal" data-bs-target="#JanelaModal">
        <i class="bi bi-person-fill-up"></i>
        </a>
    </div>
    </div>
    </div>

    <div id="JanelaModal" class="modal fade">
        <div class="modal-dialog border-rounded">
          <div class="modal-content strongbg">


            <div class="modal-header border-0">
              <button type="button" class="btn btn-close " data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body rounded">

              <h3 class="text-center mx-auto">Administrador, faça seu Login</h3>

              <!-- <div class="hide alerta" id="error">
                <span>Usuário ou senha incorretos</span>
                <button id="alertabutton">&times;</button>
              </div> -->


              <form action="/" method="post" id="login">

                <div class="col-6 mt-2 mx-auto">
                  <label for="edv" class="form-label text-center">
                    <h5>Código</h5>
                  </label>
                  <input class="form-control mx-auto" type="text" id="edv" name="edv">
                </div>

                <div class="col-6 mt-5 mx-auto">
                  <label for="senha" class="form-label text-center">
                    <h5>Senha</h5>
                  </label>
                  <div class="senhasDesign">
                    <input class="form-control mx-auto" type="password" id="senha" name="senha">
                    <i class="bi bi-eye"></i>
                  </div>
                </div>
                <div class="col-6 my-5 mx-auto">
                  <input type="button" class="btn btn-success mx-auto btn-lg" value="Entrar" id="Entrar">
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

      <script src="../../public/js/jquery.js"></script>
      <script src="../../public/js/password.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>  
</body>

</html>