*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif; 
}

hmtl, body{
    height: 100%;
    background: rgb(234, 227, 212);
    transition: 0.3s;
}


input[type="checkbox"]{
    display: none;
}

.bi {
    font-size: 1.7rem;
    cursor: pointer;
    padding: 10px;
}

.bi-sun:hover{
    color: rgb(224, 157, 0);
    transition: 0.5s;
    opacity: 100%;
}

.bi-moon{
    display: none;
}

.bi-sun{
    display: flex;
}

/* comeco */

.dark, .darkheader {
    background-color: rgb(32, 32, 46);
    color: #000000;
}

.dark .btn-close {
    background-color: rgba(255, 255, 255, 0.3);
}

.dark .bi-eye-slash{
    color: rgb(0, 0, 0);
}

.dark .bi-eye{
    color: rgb(0, 0, 0);
}

.dark .bi-sun{
    display: none;
}

.dark .bi-moon{
    display: flex;
}

.dark .bi-moon:hover{
    color: rgb(0, 175, 224);
    transition: 0.5s;
    opacity: 100%;
}