/* características gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(32, 46, 33);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(192, 179, 152);
    ;
    border-radius: 10px;

}

hmtl, body{
    height: 100%;
    /* background: rgb(234, 227, 212); */
    background: rgb(32, 46, 33);
}

/* NAVBAR */

#IconePotian {
    padding: auto;
    margin-left: 2%;
}

span {
    font-family: 'Rowdies', cursive;
    margin-left: 30%;
    padding: 5%;
    font-size: xx-large;
    color: rgb(109, 49, 16);
}

span2 {
    color: rgb(109, 49, 16);
}

#BarraPesquisa {
    margin-left: 5%;
}

.login{
    display: flex;
    margin-left: 50%;
    padding: auto;
}

span2:hover{
    color: rgb(84, 184, 255);  
    transition: 0.2s;
}

.entrecad{
    font-size: 20px ;
}

.bi-cart-fill{
    display: flex;
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(109, 49, 16);
    font-size: 25px;
}

.bi-cart-fill:hover{
    color: rgb(84, 184, 255);  
    transition: 0.2s;
}

span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(248, 120, 188);
    left: 0;
    bottom: -4px;
    transition: ease .40s;

}

span:hover::after {
    width: 100%;
}

span2::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(248, 120, 188);
    left: 0;
    bottom: -4px;
    transition: ease .40s;

}

span2:hover::after {
    width: 100%;
}

.btn-outline-dark{
    border: none;
}

#btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(248, 120, 188);
    left: 0;
    bottom: -4px;
    transition: ease .40s;

}

#btn:hover::after {
    width: 100%;
}

/* card */

.card {
    background: url(../img/kk.png);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.9);
    text-align: center;
    margin-right: 90px;
    margin-bottom: 40px;

}

.card:hover {
    cursor: pointer;
    /* filter: brightness(50%); */
}

.card-content{
    background: none;
    font-family: 'Rowdies', cursive;
    font-size: large;
    color: rgb(243, 205, 237);
    text-shadow:1px 1px 2px rgba(109, 109, 109, 0.426) ;
    margin-bottom: 5%;
}

.card-price{
    background: none;
    font-size: large;
    color: white;
    text-shadow:1px 1px 2px rgba(109, 109, 109, 0.426) ;
    margin-bottom: 5%;
}


.card-body{
    display: flex;
    padding: auto;
    margin-bottom: 5%;
}

.card-img-top {
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

.card-img-top:hover{
    filter: brightness(50%);
}

.card-text {
    color: rgb(0, 0, 0);
    font-family: 'Rowdies', cursive;
    font-size: large;
}

#btnshop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(17, 148, 104);
    color: aliceblue;
}

/* modais da tela adm login*/

.modal-content{
    background-color: rgba(208, 249, 162, 0.87);
}

.senhasDesign{
    display: flex;
}

.bi-eye{
    position: absolute;
    cursor: pointer;
    color: #000000;
    top: 60%;
    right: 29%;
}

.bi-eye-slash{
    position: absolute;
    cursor: pointer;
    color: #000000;
    top: 60%;
    right: 29%;
}

#eye{
    position: absolute;
    cursor: pointer;
    color: #000000;
    top: 59.7%;
    right: 26%;
}

#eyetwo{
    position: absolute;
    cursor: pointer;
    color: #000000;
    top: 79.5%;
    right: 26%;
}

.forgot a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    transition: all .40s;
    cursor: pointer;
}

.forgot a:hover {
    color: rgb(84, 184, 255);
}



/* footer */

footer {
    width: 100%;
    color: black;
    position: absolute;
    margin-top: 50%;
}

#footerContent {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 242, 215);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footerContacts h3 {
    font-family: 'Rowdies', cursive;
    color: rgb(109, 49, 16);
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
}

.footerList {

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none
}

.footerList .footerLink {

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    transition: all .40s;
}

.footerList .footerLink:hover {
    color: rgb(84, 184, 255);
}

#footerCopyRight {

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 242, 215);
    font-size: 0.9em;
    padding: 1.5rem;
    font-weight: 100;
    margin-bottom: 1%;
}


#footerCopyRight a {
    margin-left: 2%;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

#footerCopyRight a:hover {
    color: rgb(84, 184, 255);
}

/* ANIMACAO DO BOTAO */

#btnshop {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #169000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    
}

#btnshop:before {
    content: '';
    background: linear-gradient(45deg, #00ff2f, #1bff45, #0fcd31, #16e63c, #12ff3e, #4aff6b, #70ff8a, #7aff93, #7eff95);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#btnshop:active {
    color: #166609
}

#btnshop:active:after {
    background: transparent;
}

#btnshop:hover:before {
    opacity: 1;
}

#btnshop:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2e9415;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media screen and (min-width: 501px) and (max-width: 1042px){
    .collapse .login{
        margin-left: 42px;
    }
}

@media screen and (min-width: 414px ) and (max-width: 500px) {
    .collapse .login{
        margin-left: 20px;
    }
  }
  
  @media screen and (min-width: 360px) and (max-width: 413px) {
    .collapse .login{
        margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 280px) {
  
    span {
      font-family: 'Rowdies', cursive;
      margin-left: 5%;
      padding: 5%;
      font-size: xx-large;
      color: rgb(109, 49, 16);
  }

    .collapse .login{
        margin-left: 15px;
    }
  
  html {
    display: flex;
  }
  
    
  }
  

